<div class="col-lg-3 d-lg-flex justify-content-center align-items-center">
  <div class="mx-3">
    <div class="btn-group">
      <button type="button" class="btn btn-primary border">はい</button>
      <button type="button" class="btn btn-primary border">いいえ</button>
    </div>
  </div>
</div>